* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background: white;
    border: 1px solid black;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: white;
    overflow: hidden;
}


.isSelected {
    border: 5px solid black
}

#clear-btn {
    padding: 5px 20px;
    font-size: 25px;
}

.dot {
    position: absolute;
    z-index: 50;
    border-radius: 100%;
}